<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">
<body>
<div id="wall">
  <div class="page" v-cloak>
    <h1>Game vote</h1>
    <input v-model="myName" @input="updateName" placeholder="Name"/>
    <h4>Players:</h4>
    <div class="tags">
      <span class="tag pink" v-for="user in users" v-bind:class="{ voted: user.vote !== 0 }">{{user.name}}</span>
    </div>
    <div v-show="!allVoted">
      <h4>Games:</h4>
      <div class="tags">
        <span class="tag green" v-for="game in games" @click="voteGame(game)" v-bind:class="{ pink: self.vote === game.id }">{{game.name}}</span>
      </div>
    </div>
    <div v-show="allVoted">
      <hr>
      <h4>Votes:</h4>
      <div v-for="(game, i) in descendingVotedGames" class="voteRow">
        {{i + 1}}: {{game.name}} 
        <div class="" style="margin-top: 3px;">
          <span v-show="self.vote" class="tag pink" v-for="user in game.voters">{{user.name}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
<script src="socket.io.js"></script>
<script src="vue.min.js"></script>
<script src="js/app.js"></script>
</body>