[v-cloak] {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
}

#wall {
  z-index: 100;
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: repeat fixed center;
}

* {
  font-family: 'Press Start 2P', cursive;
  color: #111;
}

button {
  background-color: #FF0;
  border: none;
}

ul {
  overflow: auto;
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
  padding: 5px;
  background-color: #FFF;
  box-sizing: border-box;
  margin-top: 3px;
}

hr {
  clear: both;
}

li:hover {
  cursor: hand;
}

h4 {
  clear: both;
}

.voteRow {
  width: 100%; 
  float: left; 
  margin-top: 3px;
}

.left {
  width: 400px;
  float: left;
}

.right {
  width: 200px;
  float: right;
}

.tag {
  cursor: hand;
  font-size: 16px;
  padding: 3px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag:hover {
  color: #000;
}

.voted {
  background-color: gray !important;
  //color: pink 
}

.tags {
  margin-top: 21px;
  margin-bottom: 21px;
  overflow: auto;
}

.green {
  background-color: #0F0;
  color: white;
}

.pink {
  background-color: #F0F;
  color: white;
}

.highlight {
  color: black;
}

div > span.tag {
  float: left;
}

.page {
  overflow: auto;
  z-index: 10;
  position: relative;
  margin-top: 50px;
  padding: 25px;
  max-width: 650px;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  margin: auto;
}